.icon-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  margin-top: 30px;
}

.icon {
  margin: 0 10px;
  transition: all 0.25s;
  cursor: pointer;
  border: 2px solid rgb(87, 85, 85);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  transform: scale(1.15);
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
}

.icon:active {
  transform: scale(1);
}

.icon__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgb(87, 85, 85);
  color: #fff;
  font-size: 1rem;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: 0;
}

.icon-home {
  margin: 0 auto 0 50px;
}

.icon-cart {
  position: relative;
}

.icon-profile {
  margin-right: 25px;
}

.login {
  height: 44px;
  margin: 0 10px;
  transition: all 0.25s;
  cursor: pointer;
  border: 2px solid rgb(87, 85, 85);
  border-radius: 5px;
  padding: 10px;
  font-family: inherit;
  font-size: 17px;
  letter-spacing: 0.5px;
  background-color: transparent;
  vertical-align: middle;
  margin-right: 25px;
}

.login:hover {
  transform: scale(1.15);
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
}

.login:active {
  transform: scale(1);
}
